.wrapper {
  position: relative;
  height: 48px;
}

.input {
  display: flex;
  align-items: center;
  width: 300px;
  height: 48px;
  padding: 0 16px;
  background-color: #fff;
  border-radius: 8px;
  box-sizing: border-box;
  color: #333;
  font-size: 14px;
  outline: none;
  border: none;
}

.focusedInput {
  border-radius: 8px 8px 0 0;
}

.input::placeholder {
  color: #bbb;
  user-select: none;
}

.items {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border-radius: 0 0 8px 8px;
  border-top: 1px solid #ccc;
  overflow: hidden;
}

.item {
  position: relative;
  display: flex;
  width: 100%;
  height: 48px;
  align-items: center;
  padding: 0 12px;
  box-shadow: 0 -1px 0 0 #ccc inset;
  box-sizing: border-box;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
}

.item:hover {
  background-color: #eee;
}

.item:hover:before,
.activeItem:before {
  content: '';
  position: absolute;
  top: -1px;
  left: 0;
  width: 2px;
  height: 100%;
  background-color: #f94855;
}

.item:last-child {
  box-shadow: none;
}

.activeItem {
  background-color: #eee;
}

.tombstone {
  pointer-events: none;
  color: #999;
}

.tombstoneLoader {
  position: absolute;
  top: calc(50% - 10px);
  width: 60%;
  height: 20px;
  background: linear-gradient(90deg, #ccc, #eee);
  animation: loading 2s ease infinite;
  background-size: 600% 600%;
}

@keyframes loading {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
