.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  align-items: center;
  background-color: #39395e;
  box-sizing: border-box;
}

.title {
  font-size: 36px;
  color: #f94855;
  font-family: 'Russo One', sans-serif;
  margin: 48px 0;
}
